{% extends 'base.html.twig' %}

{% block title %}Email sent{% endblock %}

{% block body %}
    <section class="d-flex justify-content-center">
        <p>Un email d'activation de compte a été envoyé à votre adresse mail.</p>
    </section>
{% endblock %}