{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick{% endblock %}

{% block body %}
    <section class="container mt-3">
        <h1>Création d'un Trick</h1>
        
        {{ include('trick/_form.html.twig') }}
    </section>


    <a href="{{ path('trick_index') }}">Retour à la page d'accueil</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
    <script src="{{ asset('js/custom-file-input.js') }}"></script>

{% endblock %}
