{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <section class="container">
        <h1>The Trick</h1>
        
        {{ include('trick/_form.html.twig') }}
    </section>


    <a href="{{ path('trick_index') }}">back to list</a>
{% endblock %}
